#labelDiv {
	float:left;
	width:20%;
	left: 10px;
	right: 10px;
	padding: 2px 12px 2px 10px;
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
#inputDiv {
	width: 70%;
	float: left;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: arial;
	font-size: 12px;
}
.fontePadrao {
	font-family: arial;
	font-size: 12px;
	color: #000000;
}
.ver_cabecalho {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	background-color: #bac5d9; 
	font-weight: bold; 
	color: #000000}


.ver_texto_inicio { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	font-weight: bold }


.ver_texto {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #000000; 
	font-weight: normal}


.ver_titulo  {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	background-color: #bac5d9; 
	font-weight: bold; 
	color: #000000}

body {  
	margin: 0px;
}
	
A.figura:LINK { 
	color : #FFFFFF; 
	text-decoration : none;
}

A.figura:VISITED {
	color : #FFFFFF; 
	text-decoration : none;
}

A.figura:ACTIVE {
	color : #FFFFFF; 
	text-decoration : none;
}

A.figura:HOVER {
	color : #0e347d; 
	text-decoration : none;
}
.style2 {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style4 {
	color: #FFFFFF
}
.imutable {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.busy {
	position:absolute;
	width:200px; 
	height:115px; 
	z-index:1; 
	left: 418px; 
	top: 261px; 
	visibility: hidden;
}
.largura250 {
	width: 250;
}
.largura320 {
	width: 320;
}
.formGorverno {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.pr {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-color: #E1E100;
	background-image: url(../../imagens/backAmarelo.gif);
}

.txtRoubado {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}

a.txtRoubado:visited {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}

a.txtRoubado:active {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}

a.txtRoubado:hover {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}

.txtAlerta {
	font-family: arial;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

a.txtAlerta:visited {
	font-family: arial;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

a.txtAlerta:active {
	font-family: arial;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

a.txtAlerta:hover {
	font-family: arial;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

.tituloPRF {
	font-family: arial;
	font-size: 24px;
	color: #FFCC33;
	font-weight: bold;
}

.tituloDepartamento {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFCC33;
}

.linhaAmarelaSistema {
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #f7e300;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #f7e300;
	background-color: #333366;
}

.linhaAmarela {
	background-color: #f7e300;
}

.linhaAmarelaMenuDireito {
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFCC33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFCC00;
	height: 22px;
}

.linhaAzulMenuDireito {
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #333366;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #003399;
	height: 22px;
}

.linhaAzulSistema {
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #333366;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #333366;
	background-color: #f7e300;
}

td {
	font-family: arial;
	font-size: 12px;
	color: #000000;
}

.tracoBaixo {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

.tracoBaixoUltima {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

.divisaoCorpo {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.chamada {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFCC00;
	border-bottom-color: #FFCC00;
	background-color: #FFFFCC;
	height: 10px;
}

.tituloAzul {
	font-family: arial;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333366;
}

a.tituloAzul:visited {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

a.tituloAzul:active {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	background-color: #000000;
}

a.tituloAzul:hover {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: blur;
}

.destaques {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.tabelaDestaque {
	border: 1px solid #CCCCCC;
	<!--background-color: #E4E4E4;-->
}

.mais {
	font-family: arial;
	font-size: 10px;
	color: #000000;
	background-color: #DDDDDD;
}

.itemMenu {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E9E9E9;
	height: 25px;
	text-indent: 10pt;
	font-family: arial;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}

.cabecalhoMenu {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	background-color: #EBEBEB;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #2b1a61;
	text-indent: 10pt;
	width: 1px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #E0E0E0;
	height: 32px;
}

.ultimas {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
}

.tdMenuDireitoCorpo {
	background-color: #FFFFD9;
	height: 70px;
	vertical-align: middle;
}

.tdMenuDireitoAzul {
	background-color: #D9E6FF;
	height: 70px;
	vertical-align: middle;
}

.enderecoRodape {
	font-family: arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #000000;
}

.linhaDivisaoCabecalho {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
}

.textCabecalho {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #333366;
}


.linhaConcurso {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-weight: bold;
}

.linhaBaixo {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.master_impar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	background-color: #d9dfea;
	margin-top: 0;
	margin-bottom: 0;
}

.colunaIcone {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	width: 15;
}

.master_par {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	background-color: #bac5d9;
	margin-top: 0;
	margin-bottom: 0;
}

Body {
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-base-color: #0e347d;
	scrollbar-shadow-color: #F3F3F3;
	scrollbar-face-color: #0e347d;
	scrollbar-highlight-color: #F3F3F3;
	scrollbar-dark-shadow-color: #FFFFFF;
	scrollbar-3d-light-color: #0e347d;
	margin: 0px;
}

A:LINK {
	color: #000000;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}

A:VISITED {
	color: #333333;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}

A:ACTIVE {
	color: #999999;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	background-color: #CCCCCC;
}

A:HOVER {
	color: #0099FF;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}

a.linkMenu {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #5F5F5F;
	text-decoration: none;
	text-align: left;
	height: 25px;
	display: block;
}

a.linkMenu:link {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #5F5F5F;
	text-decoration: none;
	text-align: left;
}

a.linkMenu:visited {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

a.linkMenu:active {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	background-color: #000000;
}

a.linkMenu:hover {
	font-family: arial;
	font-size: 12px;
	height: 25px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: blur;
	background-color: #E5E5E5;
}

.pricingListHeader {
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}

.masterHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.pod {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 11px;
	margin-top: 0;
	margin-bottom: 0;
}

.pod2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D8D8D8;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 9px;
	margin-top: 0;
	margin-bottom: 0;
}

.master {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
}

.bold {
	font-family: arial;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.boldBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e3e7ef;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.boldWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5;
	margin-left: 5;
}

.Utxt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #5B5B5B;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.Utxt2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D8D8D8;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.drpDown1 {
	border-top: 1px solid #6D6C6C;
	border-bottom: 1px solid #6D6C6C;
	border-left: 1px solid #6D6C6C;
	border-right: 1px solid #6D6C6C;
	background-color: #d9dfea;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight: normal;
}

.masterFieldset {
	border: 1px solid #6D6C6C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	padding: 3px;
	width: 550;
}


.linkStyle {
	font-family: "Times New Roman", Times, serif;
	font-size: 13;
	font-style: normal;
	color: #0000A0;
	text-decoration: underline;
}

.masterDiv {
	color: #000000;
	width: 412px;
	height: 98px;
	overflow: auto;
	padding: 0px;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-base-color: #0e347d;
	scrollbar-shadow-color: #F3F3F3;
	scrollbar-face-color: #0e347d;
	scrollbar-highlight-color: #F3F3F3;
	scrollbar-dark-shadow-color: #FFFFFF;
	scrollbar-3d-light-color: #0e347d;
}

.font9 {
	font-size: 9px;
}

.tableCell3 {
	border: 1px solid #6D6C6C;
	background-color: #e3e7ef;
	color: #000000;
	text-decoration: none;
	padding: 0px;
}

.tableCell1Wide {
	border: 1px solid #6D6C6C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	padding: 5px;
	height: 18px;
	align: justify;
}

.tableCellTxt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	margin: 5px;
	align: justify;
	margin: 0;
}

.tableCellTxt1bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin: 5px;
	align: justify;
	margin: 0;
}

.pr {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #f8c400
}

.mainDiv {
	color: #000000;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 0px;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-base-color: #0e347d;
	scrollbar-shadow-color: #F3F3F3;
	scrollbar-face-color: #0e347d;
	scrollbar-highlight-color: #F3F3F3;
	scrollbar-dark-shadow-color: #FFFFFF;
	scrollbar-3d-light-color: #0e347d;
}

.divRegionais {
	color: #000000;
	width: 100%;
	height: 200;
	overflow: auto;
	padding: 0px;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-base-color: #0e347d;
	scrollbar-shadow-color: #F3F3F3;
	scrollbar-face-color: #0e347d;
	scrollbar-highlight-color: #F3F3F3;
	scrollbar-dark-shadow-color: #FFFFFF;
	scrollbar-3d-light-color: #0e347d;
}

.cellSuper {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	align: left;
	color: #0000ea;
}

.cellBranco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	align: left;
	color: #FFFFFF;
}

.cellPreto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	align: left;
	color: #000000;
}

.t1 {
	border: 0px;
	font-size: 0px;
	padding: 0px;
}

.tableSuper {
	border: 1px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px;
	background-color: #0000ea;
}

#inputDiv {
	width: 70%;
	float: left;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: arial;
	font-size: 12px;
}
.fontePadrao {
	font-family: arial;
	font-size: 12px;
	color: #000000;
}
.ver_cabecalho {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	background-color: #bac5d9; 
	font-weight: bold; 
	color: #000000}


.ver_texto_inicio { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	font-weight: bold }


.ver_texto {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #000000; 
	font-weight: normal}


.ver_titulo  {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	background-color: #bac5d9; 
	font-weight: bold; 
	color: #000000}

body {  
	margin: 0px;
}
	
A.figura:LINK { 
	color : #FFFFFF; 
	text-decoration : none;
}

A.figura:VISITED {
	color : #FFFFFF; 
	text-decoration : none;
}

A.figura:ACTIVE {
	color : #FFFFFF; 
	text-decoration : none;
}

A.figura:HOVER {
	color : #0e347d; 
	text-decoration : none;
}
.style2 {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style4 {
	color: #FFFFFF
}
.imutable {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.busy {
	position:absolute;
	width:200px; 
	height:115px; 
	z-index:1; 
	left: 418px; 
	top: 261px; 
	visibility: hidden;
}
.largura250 {
	width: 250;
}
.largura320 {
	width: 320;
}
.formGorverno {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.pr {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-color: #E1E100;
	background-image: url(../../imagens/backAmarelo.gif);
}

.txtRoubado {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}

a.txtRoubado:visited {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}

a.txtRoubado:active {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}

a.txtRoubado:hover {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}

.txtAlerta {
	font-family: arial;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

a.txtAlerta:visited {
	font-family: arial;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

a.txtAlerta:active {
	font-family: arial;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

a.txtAlerta:hover {
	font-family: arial;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

.tituloPRF {
	font-family: arial;
	font-size: 24px;
	color: #FFCC33;
	font-weight: bold;
}

.tituloDepartamento {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFCC33;
}

.linhaAmarelaSistema {
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #f7e300;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #f7e300;
	background-color: #333366;
}

.linhaAmarela {
	background-color: #f7e300;
}

.linhaAmarelaMenuDireito {
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFCC33;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFCC00;
	height: 22px;
}

.linhaAzulMenuDireito {
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #333366;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #003399;
	height: 22px;
}

.linhaAzulSistema {
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #333366;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #333366;
	background-color: #f7e300;
}

td {
	font-family: arial;
	font-size: 12px;
	color: #000000;
}

.tracoBaixo {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

.tracoBaixoUltima {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

.divisaoCorpo {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.chamada {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFCC00;
	border-bottom-color: #FFCC00;
	background-color: #FFFFCC;
	height: 10px;
}

.tituloAzul {
	font-family: arial;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333366;
}

a.tituloAzul:visited {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

a.tituloAzul:active {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	background-color: #000000;
}

a.tituloAzul:hover {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: blur;
}

.destaques {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.tabelaDestaque {
	border: 1px solid #CCCCCC;
	<!--background-color: #E4E4E4;-->
}

.mais {
	font-family: arial;
	font-size: 10px;
	color: #000000;
	background-color: #DDDDDD;
}

.itemMenu {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E9E9E9;
	height: 25px;
	text-indent: 10pt;
	font-family: arial;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}

.cabecalhoMenu {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	background-color: #EBEBEB;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #2b1a61;
	text-indent: 10pt;
	width: 1px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #E0E0E0;
	height: 32px;
}

.ultimas {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
}

.tdMenuDireitoCorpo {
	background-color: #FFFFD9;
	height: 70px;
	vertical-align: middle;
}

.tdMenuDireitoAzul {
	background-color: #D9E6FF;
	height: 70px;
	vertical-align: middle;
}

.enderecoRodape {
	font-family: arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #000000;
}

.linhaDivisaoCabecalho {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
}

.textCabecalho {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #333366;
}

.brasilForm {
	padding: 0px;
}

.linhaConcurso {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-weight: bold;
}

.linhaBaixo {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.master_impar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	background-color: #d9dfea;
	margin-top: 0;
	margin-bottom: 0;
}

.colunaIcone {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	width: 15;
}

.master_par {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	background-color: #bac5d9;
	margin-top: 0;
	margin-bottom: 0;
}

Body {
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-base-color: #0e347d;
	scrollbar-shadow-color: #F3F3F3;
	scrollbar-face-color: #0e347d;
	scrollbar-highlight-color: #F3F3F3;
	scrollbar-dark-shadow-color: #FFFFFF;
	scrollbar-3d-light-color: #0e347d;
	margin: 0px;
}

A:LINK {
	color: #000000;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}

A:VISITED {
	color: #333333;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}

A:ACTIVE {
	color: #999999;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	background-color: #CCCCCC;
}

A:HOVER {
	color: #0099FF;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}

a.linkMenu {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #5F5F5F;
	text-decoration: none;
	text-align: left;
	height: 25px;
	display: block;
}

a.linkMenu:link {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #5F5F5F;
	text-decoration: none;
	text-align: left;
}

a.linkMenu:visited {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

a.linkMenu:active {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	background-color: #000000;
}

a.linkMenu:hover {
	font-family: arial;
	font-size: 12px;
	height: 25px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: blur;
	background-color: #E5E5E5;
}

.pricingListHeader {
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}

.masterHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.pod {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 11px;
	margin-top: 0;
	margin-bottom: 0;
}

.pod2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D8D8D8;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 9px;
	margin-top: 0;
	margin-bottom: 0;
}

.master {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
}

.bold {
	font-family: arial;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.boldBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e3e7ef;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.boldWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5;
	margin-left: 5;
}

.Utxt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #5B5B5B;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.Utxt2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D8D8D8;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.drpDown1 {
	border-top: 1px solid #6D6C6C;
	border-bottom: 1px solid #6D6C6C;
	border-left: 1px solid #6D6C6C;
	border-right: 1px solid #6D6C6C;
	background-color: #d9dfea;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight: normal;
}

.masterFieldset {
	border: 1px solid #6D6C6C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	padding: 3px;
	width: 550;
}

.linkStyle {
	font-family: "Times New Roman", Times, serif;
	font-size: 13;
	font-style: normal;
	color: #0000A0;
	text-decoration: underline;
}




.masterDiv {
	color: #000000;
	width: 412px;
	height: 98px;
	overflow: auto;
	padding: 0px;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-base-color: #0e347d;
	scrollbar-shadow-color: #F3F3F3;
	scrollbar-face-color: #0e347d;
	scrollbar-highlight-color: #F3F3F3;
	scrollbar-dark-shadow-color: #FFFFFF;
	scrollbar-3d-light-color: #0e347d;
}

.font9 {
	font-size: 9px;
}

.tableCell3 {
	border: 1px solid #6D6C6C;
	background-color: #e3e7ef;
	color: #000000;
	text-decoration: none;
	padding: 0px;
}

.tableCell1Wide {
	border: 1px solid #6D6C6C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	padding: 5px;
	height: 18px;
	align: justify;
}

.tableCellPaddingMore1 {
	border: 1px solid #6D6C6C;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	padding: 15px;
	height: 18px;
	align: justify;
	background-image:
		url('../../images/internet/frmshadow_txtfield1-off.jpg');
}

.tableCellTxt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	margin: 5px;
	align: justify;
	margin: 0;
}

.tableCellTxt1bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin: 5px;
	align: justify;
	margin: 0;
}

.pr {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #f8c400
}

.mainDiv {
	color: #000000;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 0px;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-base-color: #0e347d;
	scrollbar-shadow-color: #F3F3F3;
	scrollbar-face-color: #0e347d;
	scrollbar-highlight-color: #F3F3F3;
	scrollbar-dark-shadow-color: #FFFFFF;
	scrollbar-3d-light-color: #0e347d;
}

.cellSuper {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	align: left;
	color: #0000ea;
}

.cellBranco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	align: left;
	color: #FFFFFF;
}

.cellPreto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	align: left;
	color: #000000;
}

.t1 {
	border: 0px;
	font-size: 0px;
	padding: 0px;
}
